/* ****************************
Css import
******************************* */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* ****************************
Boiler plate code
******************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #F5F8FD;
    color: #1e1e21;
}

/* ****************************
Main
******************************* */
#main{
    width: 100%;
}

/* ****************************
Nav
******************************* */
#nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.box1 h1{
    font-size: 20px;
    font-weight: 500;
}

.box2{
    display: flex;
    column-gap: 8px;
}

.box2 h2{
    font-size: 20px;
    font-weight: 500;
}

.box3{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box3 h3{
    font-size: 18px;
    font-weight: 500;
}

.box3 h3 sup{
    font-size: 12px;
    color: #F8AD01;

}

.box3 h3 i{
    font-size: 22px;
}

/* ****************************
Title box
******************************* */
#title_box{
    width: 100%;
    padding: 60px;
    margin-bottom: 200px;
}

#title_box h1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

#title_box h2{
    font-size: 144px;
    font-weight: 400;
    letter-spacing: -10px;
    line-height: 137px;
}

/* ****************************
Case studies
******************************* */
#case_studies_box .case_studies{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.title h2{
    font-size: 22px;
    font-weight: 500;
}

.right_box{
    width: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_box hr{
    width: 120px;
    height: 1px;
    background-color: #1e1e21;
    border: 0;
}

.right_box h2{
    font-size: 22px;
    font-weight: 500;
}

/* ****************************
Image box
******************************* */
#image{
    width: 100%;
    padding: 0 60px;
    display: flex;
    column-gap: 40px;
}

.img_box{
    background-color: #E2E7ED;
    height: 600px;
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_box img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}

#info{
    width: 100%;
    padding: 0 60px;
    display: flex;
    column-gap: 40px;
}

.info_box{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.info_box h4{
    /* background-color: #a88484; */
    padding: 15px 30px;
    border-radius: 50px;
    border: 2px solid #1e1e21;
}

.info_box h4 i{
    font-size: 22px;
}

.info_box .bg-black{
    background-color: #1e1e21;
}

.info_box .white{
   color: #fff;
}

.info_title_box h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}

.info_title_box h3{
    font-size: 16px;
    font-weight: 500;
    color: #9799A1;
}