/* ****************************
Css import
******************************* */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* ****************************
Boiler plate code
******************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f5f3ef;
    color: #1e1e21;
}

/* ****************************
Main
******************************* */
#main{
    /* height: 100%; */
    width: 100%;
    /* background-color: #e52626; */
}

.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider hr{
    height: 3.5px;
    width: 95%;
    background-color: #1e1e21;
}

.bg{
    background-color: #1E1E21;
}

.bg .white{
    background-color: #F5F3EF;
    height: 1.5px;
}

/* ****************************
Bent info section
******************************* */
#nav_menu{
    position: fixed;
    right: 45px;
    top: 35px;
    
}

#nav_menu button{
    background-color: #1E1E21;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: 0;
    border-radius: 50px;
    margin-right: 5px;
    font-weight: 600;
}

/* ****************************
Bent info section
******************************* */
#bent_info{
    height: 65%;
    width: 100%;
    padding: 60px;
}

#bent_info h1{
    font-size: 144px;
    line-height: 137px;
    font-weight: 600;
    letter-spacing: -6px;
}

#bent_info .place{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#bent_info .place h3{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}

#bent_info .place h3 i{
    font-size: 42px;
}

/* ****************************
Image section
******************************* */
#image{
    background-color: #6eee43;
    height: 640px;
    width: 100%;
}

#image .img{
    height: 100%;
    width: 100%;
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp");
    background-size: cover;
    background-position: bottom;
}

#image .img1{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp");
}
#image .img2{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01-p-2000.webp");
    background-position: center;
}
#image .img3{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02-p-2000.webp");
    background-position: center;
}
#image .img4{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03-p-2000.webp");
    background-position: center;
}

/* ****************************
About section
******************************* */
#about{
    height: 80%;
    width: 100%;
    padding: 65px;
    padding-top: 60px;
    display: flex;
}

#about .about_part1{
    width: 65%;
    border-right: 2px solid #000;
    padding-right: 50px;
}

#about .about_part1 h1{
    font-size: 88px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: -3px;
}

#about .about_part2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}

#about .about_part2 h3{
    font-size: 32px;
    font-weight: 600;
}

#about .about_part2 .icons{
    padding-bottom: 15px;
}

#about .about_part2 .icons i{
    background-color: #000;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}

/* ****************************
Work section
******************************* */
#work{
    /* height: 90%; */
    width: 100%;
    padding: 50px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#work .work_part1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    border-right: 2px solid #000;
}

#work .work_part1 h2{
    font-size: 32px;
    font-weight: 500;
}

#work .work_part1 i{
    font-size: 42px;
}

#work .work_part2{
    width: 60%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}

#work .work_part2 hr{
    border: 1.5px solid #000;
    background-color: #000;
}

#work .work_part2 .work_inner{
    display: flex;
}

#work .work_part2 .work_inner .work_elements{
    width: 50%;
    padding-right: 20px;
}

#work .work_part2 .work_inner .work_elements:nth-child(2){
    border-left: 2px solid #000;
    padding-left: 30px;
}

#work .work_part2 .work_inner .work_elements h3{
    font-size: 44px;
    font-weight: 600;
    padding-bottom: 15px;
}

#work .work_part2 .work_inner .work_elements p{
    font-size: 18px;
    line-height: 23px;
}

/* ****************************
CNR(Camera, Noise, Robot) section
******************************* */
#CNR{
    height: 40%;
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnr_part1{
    width: 60%;
}

.cnr_part1 h1{
    font-size: 144px;
    font-weight: 600;
}

.cnr_part2{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cnr_part2 p{
    font-size: 20px;
}

.cnr_part2 .year{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cnr_part2 h3{
    font-size: 14px;
    font-weight: 500;
    color: #f5f3ef;
    background-color: #1e1e21;
    padding: 8px 10px;
    border-radius: 50px;
}

/* ****************************
Clients section
******************************* */
#clients{
    width: 100%;
    padding: 50px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#clients .clients_part1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    border-right: 2px solid #000;
}

#clients .clients_part1 h2{
    font-size: 32px;
    font-weight: 500;
}

#clients .clients_part1 i{
    font-size: 42px;
}

#clients .clients_part2{
    width: 60%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 41px;
}

#clients .clients_part2 hr{
    border: 1.5px solid #000;
    background-color: #000;
}

#clients .clients_part2 .clients_inner{
    display: flex;
}

#clients .clients_part2 .clients_inner .clients_elements{
    width: 50%;
    padding-right: 41px;
}

#clients .clients_part2 .clients_inner .clients_elements:nth-child(2){
    border-left: 2px solid #000;
    padding-left: 30px;
}

#clients .clients_part2 .clients_inner .clients_elements h3{
    font-size: 44px;
    font-weight: 600;
    padding-bottom: 15px;
    line-height: 46px;
}

#clients .clients_part2 .clients_inner .clients_elements p{
    font-size: 18px;
    line-height: 26px;
}

#clients .clients_part2 .clients_inner .clients_elements .artist{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#clients .clients_part2 .clients_inner .clients_elements .artist .artist_img{
    height: 60px;
    width: 60px;
    background-color: #71e73e;
    border-radius: 50px;
}

#clients .clients_part2 .clients_inner .clients_elements .artist .artist_img img{
    width: 100%;
    border-radius: 50px;
}

#clients .clients_part2 .clients_inner .clients_elements .artist h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

#clients .clients_part2 .clients_inner .clients_elements .artist h5{
    font-size:   18px;
    font-weight: 500;
    color: rgba(30,30,33,.7);;
}

/* ****************************
Connect section
******************************* */
#connect{
    height: 80%;
    width: 100%;
    background-color: #1E1E21;
    color: #F5F3EF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

#connect h1{
    font-size: 32px;
    font-weight: 600;
}

#connect h2{
    font-size: 144px;
    font-weight: 600;
    letter-spacing: -6px;
    margin-bottom: 20px;
}

#connect button{
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
}

/* ****************************
Footer
******************************* */
#footer{
    height: 15%;
    width: 100%;
    padding: 30px;
    background-color: #1E1E21;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer h3{
    font-size: 18px;
    color: #F5F3EF;
    font-weight: 500;
}