/* ****************************
Css import
******************************* */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* ****************************
Boiler plate code
******************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f5f3ef;
    color: #1e1e21;
}

/* ****************************
Main
******************************* */
#main{
    height: 100%;
    width: 100%;
}

/* ****************************
Bent info section
******************************* */
#nav_menu{
    /* background-color: rgb(219, 75, 18); */
    position: fixed;
    right: 45px;
    top: 35px;
    
}

#nav_menu button{
    background-color: #000;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 5px;
    font-weight: 600;
}

/* ****************************
Bent info section
******************************* */
#bent_info{
    height: 63%;
    width: 100%;
    padding-top: 66px;
    padding-left: 63px;
    padding-right: 63px;
}

#bent_info h1{
    font-size: 144px;
    line-height: 137px;
    font-weight: 600;
    letter-spacing: -6px;
}

#bent_info .place{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#bent_info .place h3{
    font-size: 32px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}

#bent_info .place h3 i{
    font-size: 42px;
}

/* ****************************
Image section
******************************* */
#image{
    height: 90%;
    width: 100%;
}

#image .img{
    height: 100%;
    width: 100%;
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp");
    background-size: cover;
    background-position: bottom;
}

#image .img1{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp");
}
#image .img2{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad0d8364135d4087b9c8_project-01-p-2000.webp");
    background-position: center;
}
#image .img3{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02-p-2000.webp");
    background-position: center;
}
#image .img4{
    background-image: url("https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03-p-2000.webp");
    background-position: center;
}

/* ****************************
About section
******************************* */
#about{
    height: 80%;
    width: 100%;
    padding: 65px;
    padding-top: 60px;
    display: flex;
    border-bottom: 2px solid #1e1e21;
}

#about .about_part1{
    width: 65%;
    border-right: 2px solid #000;
    padding-right: 50px;
}

#about .about_part1 h1{
    font-size: 88px;
    line-height: 85px;
    font-weight: 600;
    letter-spacing: -3px;
}

#about .about_part2{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}

#about .about_part2 h3{
    font-size: 32px;
    font-weight: 600;
}

#about .about_part2 .icons{
    padding-bottom: 15px;
}

#about .about_part2 .icons i{
    background-color: #000;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
}

/* ****************************
Work section
******************************* */
#layout{
    height: 90%;
    width: 100%;
    padding: 50px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

#layout .layout_part1{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    border-right: 2px solid #000;
}

#layout .layout_part1 h2{
    font-size: 32px;
    font-weight: 500;
}

#layout .layout_part1 i{
    font-size: 42px;
}

#layout .layout_part2{
    width: 60%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#layout .layout_part2 hr{
    border: 1.5px solid #000;
    background-color: #000;
}

#layout .layout_part2 .layout_inner{
    display: flex;
}

#layout .layout_part2 .layout_inner .layout_elements{
    width: 50%;
    padding-right: 20px;
}

#layout .layout_part2 .layout_inner .layout_elements:nth-child(2){
    border-left: 2px solid #000;
    padding-left: 30px;
}

#layout .layout_part2 .layout_inner .layout_elements h3{
    font-size: 44px;
    font-weight: 600;
    padding-bottom: 15px;
}

#layout .layout_part2 .layout_inner .layout_elements p{
    font-size: 18px;
    line-height: 23px;
}

/* ****************************
CNR(Camera, Noise, Robot) section
******************************* */
#CNR{
    height: 40%;
    width: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cnr_part1{
    width: 60%;
    /* background-color: rgb(232, 47, 47); */
}

.cnr_part1 h1{
    font-size: 144px;
    font-weight: 600;
}

.cnr_part2{
    /* background-color: lightcoral; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cnr_part2 p{
    font-size: 20px;
}

.cnr_part2 .year{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cnr_part2 h3{
    font-size: 14px;
    font-weight: 500;
    color: #f5f3ef;
    background-color: #1e1e21;
    padding: 8px 10px;
    border-radius: 50px;
}

.clients{
    height: 100% !important;
}

#clients_part2{
    justify-content: stretch !important;
    gap: 40px;

}